<%- include('../partials/header.ejs') %>

<body>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%=  s.id %>"><%=  s.learned %></a>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New Skill</a>

<%- include('../partials/footer') %>