<%- include('../partials/header.ejs') %>
<body>
    <h1>Skills Learned</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%=  s.id %>"><%=  s.learned %></a>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>