<%- include('../partials/header') %>

<form action="/skills" method="POST">
    <input type="text" name="learned">
    <button type="submit">Save New Skill</button>
</form>

<%- include('../partials/footer') %>